.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: yellow;
    text-align: center;
    display: block;
  }

  .sectbg{
      background-color: cornflowerblue;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 20px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }